<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Check Progress</title>
                    <%-include('header')%>
                    <style>
                                        body {
                                        
                                        background-image: url('https://edge.mwallpapers.com/photos/celebrities/resolutions/midnight-star-2880x1620-wallpaper-android-iphone-hd-wallpaper-background-downloadhd-wallpapers-desktop-background-android-iphone-1080p-4k-kvkx0.png');
                                        background-size: cover;
                                        
                                        color: white;
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                        }
                    </style>
</head>
<body>
                    <h2>Under Progress</h2>
</body>
</html>