<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>Footer</title>
                    <style>
                                        .social-container {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        height: 100vh; /* Set the container height to 100% of the viewport height */
                                        }
                                        .opaque-div {
                                        opacity: 0.8;
                                        padding: 20px; /* Add padding to create some space around the content */
                                        border-radius: 5px; /* Add rounded corners to the div */
                                        background-color: rgba(0, 0, 0, 0.7); /* Use rgba to set the background color with opacity */
                                        }

                                        /* Set the text inside the div to remain bold */
                                        .opaque-div h3,
                                        .opaque-div p {
                                        font-weight: bold;
                                        }
                    </style>
</head>
<body>
                    <div class="opaque-div">
                                        <div class="social-container">
                                                            
                                                            <a class="social" href="#"><img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-icon-png-image_6315974.png"></a>
                                                            <a href="#" class="social"><img src="https://www.phoronix.net/image.php?id=2023&image=twitter_x"></a>
                                                            <a href="#" class="social"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/1024px-LinkedIn_icon.svg.png"></a>
                                        </div>
                    <div>
</body>
</html>